body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}
.app-content {
  flex: 1;
}
.content-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 10px;
}
.footer {
  padding: 20px;
}
.dweet {
  width: 500px;
  margin-bottom: 30px;
}
